@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;

  @include breakpoint(tablet) {
    padding-top: 24px;
    margin-bottom: 20px;
  }

  .logo {
    font-size: 28px;
    font-weight: 800;
    color: $color-dark-blue;
  }
}